.header a{
  color: white;
  opacity: 0.9;
  font-size: 18px;
}

.header a:hover{
  text-shadow: 1px  white;
  opacity: 1;
  transition: all 0.1s linear;
  color: white;
}

.footer{
  height: 3em;
}
.footer p{
  height: 100%;
  line-height: 3em;
  padding-left: 1rem;
  color: white;
}


.slider-carrousel{
  height: 450px;
}

.owl-stage, .owl-stage-outer{
  height: 100%;
}


.owl-prev,.owl-next{
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  z-index: 999;
  background: bisque!important;
}

.owl-next{
  right: 0;
}


@media screen and (max-width: 760px){
 
}
