.header a{
  color: white;
  opacity: 0.9;
  font-size: 18px;
}

.header a:hover{
  text-shadow: 1px  white;
  opacity: 1;
  transition: all 0.1s linear;
  color: white;
}

.footer{
  height: 3em;
}
.footer p{
  height: 100%;
  line-height: 3em;
  padding-left: 1rem;
  color: white;
}


.slider-carrousel{
  height: 450px;
}

.owl-stage, .owl-stage-outer{
  height: 100%;
}


.owl-prev,.owl-next{
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  transform: translateY(-50%);
  z-index: 999;
  background: bisque!important;
}

.owl-next{
  right: 0;
}

.text{
  width: 75%;
  border: 1px solid gray;
  padding-left: 1rem;
  opacity: 0.8;
  border-radius: 10px;
}
.text:hover{
  opacity: 1;
  box-shadow: 1px 1px 1px gray;
  transition: all 0.1s linear;
}
.text-div{
  text-align: center;
}
.row-text{
  margin-top: 1rem;
}
.button{
  width: 30%;
  border: 1px solid rgb(7, 134, 207);
  border-radius: 10px;
  background-color: rgb(39, 150, 214);
  color: white;
  box-shadow: 1px 1px 1px gray;
  opacity: 0.8;
}
.button:hover{
  opacity: 1;
  box-shadow: 2px 2px 2px rgb(75, 72, 72);
  transition: all 0.1s linear;
}
.error{
  height: 5rem;
  border: 1px solid rgb(7, 134, 207);
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(119, 121, 129);
  margin-top: 2rem;
  visibility: hidden;
  line-height: 5rem;
  text-align: center;
  color: rgb(7, 134, 207);
}

@media screen and (max-width: 760px){
 
}
